.city-bkg
  .container.white-text.center-text.shadow-text
    .row.mt-xl
      .col-xs-12.col-sm-12
        %h1.xl-text
          %b Welcome to GEO WORKFLOW
        %h2
          Manage georeferenced tasks in a simple way 
          %br
          and track their progress via twitter messages  
        .mt-lg
          = link_to 'Start now', '/auth/twitter', class: 'btn btn-lg btn-primary-translucent'
