.task-fields.fieldset
  = link_to 'javascript:void(0);', class: 'remove-fieldset pull-right' do
    Remove
    %i.glyphicon.glyphicon-remove-circle
  .clearfix.mb-md
  .row
    .col-xs-12
      = f.input :name, label: 'Task Name'
      = f.input :address, label: 'Task Location / Address', as: :hidden
