.row
  .col-xs-12.col-sm-8.col-sm-offset-2
    %h1.center-text Create a new process

    = simple_form_for(@my_process) do |f|
      .form-inputs.mt-lg
        = f.input :name, label: 'Name this process'
        = f.input :hashtag, label: 'Give it a hashtag for identification'
      %hr
      .form-actions
        = f.button :submit, 'Submit', class: 'btn btn-primary btn-block'
