.task-fields
  border: 1px solid $gray-lighter 
  border-radius: $border-radius-base
  margin-top: $lg-space
  padding: $md-space $lg-space $lg-space $lg-space

.empty-task
  width: 100%
  border: 1px dashed $gray-lighter 
  border-radius: $border-radius-base
  padding: $lg-space
  min-height: 150px

.task
  border: 1px solid $gray-lighter 
  border-radius: $border-radius-base
  padding: $md-space
  margin-bottom: $lg-space 

.vis-item.in-progress
  background-color: #d6fdd6
  border-color: green

.vis-item.ended
  background-color: #ccc
  border-color: #888

.vis-item.not-started
  background-color: #D5DDF6
  border-color: #97B0F8

.vis-panel.vis-bottom
  display: none
